h1, h2, h3, h4, h5, h6 {
  color: $color-primary-2;
  font-weight: 700;
  margin: 0 0 10px;
}

h3 {
  font-size: 1.2em;
}
a {
  color: $color-primary-2;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: $color-primary-1;
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

input {
  outline: none;
}

.text-success {
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 5px;
}

h2.title, h3.title {
  color: $color-primary-1;
}
