// COLORS
// ==========================================================================


$color-primary-1:				#D10024; // 
$color-primary-2:				#2B2D42; // 
$color-primary-3:               #E4E7ED; // background

$color-secondary-1: #5abadc;
$color-secondary-2: #5abadc;
$color-secondary-3: #5abadc;
$color-secondary-4: #5abadc;


$color-error:		#B91B1B;   
$color-gray-form:	#CBCBCB;

// Based from
$color-white:			#fff;
$color-black:			#000;
$color-gray-dark:    	#15161D; //
$color-gray: 			#333; //
$color-gray-2:   		#1E1F29;   //
$color-gray-3:          #9E9E9E;   //
$color-gray-light:   	#8D99AE; //


$color-base-bg:         #000;
$color-base-txt:        $color-white;
$color-base-link:       $color-primary-1;
$color-base-link-hover: $color-gray-dark;

$color-brand-primary:     $color-primary-1;
$color-brand-secondary:   $color-secondary-1;
$color-heading-txt:       $color-primary-1;