.primary-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: $color-primary-1;
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}

.primary-btn:hover,
.primary-btn:focus {
  opacity: 0.9;
  color: #FFF;
}

.primary-btn--normal {
  text-transform: capitalize;
  font-weight: 500;
  padding: 7px 16px;
  border: 2px solid $color-primary-1;

  &:hover {
    color: $color-primary-1;
    border: 2px solid $color-primary-1;
    background-color: white;
  }
}

.primary-btn--square {
  border-radius: initial;
}

.secondary-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  color: $color-primary-1;
  border: 2px solid $color-primary-1;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color-primary-1;
  }
}

.btn--small {
  padding: 5px 10px;
  font-weight: normal;
  border: 2px solid $color-primary-1;
  white-space: nowrap;
}

button:focus {
  outline: none;
}
