.sidebar {
	position: relative;
	width: 100%;
	z-index: 99;
	.sidebar-user .category-content {
		padding: 16px;
		text-align: center;
		background-color: $color-primary-1;
    background-size: cover;
    border-radius: 0.25rem;
    h6 {
      color: #fff !important;
    }
	}
	.sidebar-content {
		position: relative;
		border-radius: 0.25rem;
		margin-bottom: 20px;
	}
	.category-title {
		position: relative;
		margin: 0;
		padding: 12px 20px;
		padding-right: 46px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	&.sidebar-default {
		.category-title {
			border-bottom-color: $color-primary-3;
			> span {
				display: block;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 12px;
			}
		}
		.category-content .nav li > a {
			color: $color-primary-2;
			&.active,
			&:hover,
			&:focus {
				background-color: #f4f4f4;
			}
		}
	}
	.category-content {
		position: relative;
		.nav {
			position: relative;
			margin: 0;
			padding: 8px 0;
			li {
				position: relative;
				list-style: none;
				> a {
					font-size: 16px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.5);
					transition: background 0.15s linear, color 0.15s linear;
					> i {
						float: left;
						top: 0;
						margin-top: 2px;
						margin-right: 15px;
						transition: opacity 0.2s ease-in-out;
					}
				}
				ul {
					padding: 0;
					> li a {
						padding-left: 44px;
					}
				}
			}
			> li > a {
				font-weight: 500;
			}
		}
	}
}
@media only screen and (min-width: 768px) {
	.sidebar {
		&.sidebar-fixed {
			position: sticky;
			top: 88px;
		}
		padding-top: 32px !important;
		display: table-cell;
		vertical-align: top;
		width: 280px;
		padding: 0 20px;

		&.sidebar-separate {
			.sidebar-content {
				box-shadow: none;
			}
			.sidebar-category {
				margin-bottom: 20px;
				border-radius: 0.25rem;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
			}
		}
	}
	.content-wrapper {
		display: table-cell;
	}
}

//table
.page-pads-container {
  padding-top: 30px;
  padding-bottom: 30px;
  .heading {
    display: flex;
    justify-content: space-between;
  }
  .pad-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;

    #filter-status {
      margin-left: 5px;
    }
  }
}

.table {
  .table-product-img {
    height: 120px;
    width: 120px;
    @extend %bgd;
  }

  th, td {
    vertical-align: middle !important;
    text-align: center;
  }

}

.product-list {
  tr td {
    &:first-child {
      width: 120px;
    }
    &:nth-child(2) {
      text-align: left;
      width: 35%;
    }
    &:nth-child(3) {
      width: 18%;
    }
    &:nth-child(4) {
      width: 17%;
    }
    &:nth-child(5) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 10%;
    }
    &:nth-child(7) {
      width: 5%;
    }
    &:nth-child(8) {
      width: 5%;
    }
  }
  .product-old-price {
    color: $color-gray-light;
    text-decoration: line-through;
  }
  .product-price {
    color: $color-primary-1;
  }
}
