/*-- Text input --*/

.input {
	height: 40px;
	padding: 0px 15px;
	border: 1px solid $color-primary-3;
	background-color: #FFF;
	width: 100%;
}

textarea.input {
	padding: 15px;
	min-height: 90px;
}

/*-- Number input --*/

.input-number {
	position: relative;
}

.input-number input[type="number"]::-webkit-inner-spin-button,
.input-number input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input-number input[type="number"] {
	-moz-appearance: textfield;
	height: 40px;
	width: 100%;
	border: 1px solid $color-primary-3;
	background-color: #FFF;
	padding: 0px 25px 0px 10px;
}

input[type="radio"] {
  // make it near black
  filter:grayscale(1);
  // or change the colour
  filter:hue-rotate(180deg);
}

.input-number .qty-up,
.input-number .qty-down {
	position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
	width: 20px;
	height: 20px;
	border: 1px solid $color-primary-3;
	background-color: #FFF;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input-number .qty-up {
	right: 0;
	top: 0;
	border-bottom: 0px;
}

.input-number .qty-down {
	right: 0;
	bottom: 0;
}

.input-number .qty-up:hover,
.input-number .qty-down:hover {
	background-color: $color-primary-3;
	color: #D10024;
}

/*-- Select input --*/

.input-select {
	padding: 0px 15px;
	background: #FFF;
	border: 1px solid $color-primary-3;
	height: 40px;
}

/*-- checkbox & radio input --*/

.input-radio,
.input-checkbox {
	position: relative;
	display: block;
}

.input-radio input[type="radio"]:not(:checked),
.input-radio input[type="radio"]:checked,
.input-checkbox input[type="checkbox"]:not(:checked),
.input-checkbox input[type="checkbox"]:checked {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.input-radio label,
.input-checkbox label {
	font-weight: 500;
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 5px;
	cursor: pointer;
}

.input-radio input[type="radio"]+label span,
.input-checkbox input[type="checkbox"]+label span {
	position: absolute;
	left: 0px;
	top: 4px;
	width: 14px;
	height: 14px;
	border: 2px solid #E4E7ED;
	background: #FFF;
}

.input-radio input[type="radio"]+label span {
	border-radius: 50%;
}

.input-radio input[type="radio"]+label span:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0);
	-ms-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	background-color: #FFF;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.input-checkbox input[type="checkbox"]+label span:after {
	content: '✔';
	position: absolute;
	top: -2px;
	left: 1px;
	font-size: 10px;
	color: #FFF;
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.input-radio input[type="radio"]:checked+label span,
.input-checkbox input[type="checkbox"]:checked+label span {
	background-color: $color-primary-1;
	border-color: $color-primary-1;
}

.input-radio input[type="radio"]:checked+label span:after {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}

.input-checkbox input[type="checkbox"]:checked+label span:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.input-radio .caption,
.input-checkbox .caption {
	margin-top: 5px;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: 0.3s max-height;
	transition: 0.3s max-height;
}

.input-radio input[type="radio"]:checked~.caption,
.input-checkbox input[type="checkbox"]:checked~.caption {
	max-height: 800px;
}

/*-- Error --*/
.error {
  color: $color-primary-1;
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 5px;
}

// checkbox
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: $color-primary-1;
  border-color: $color-primary-1;
  color: #fff;
}
// end checkbox

// form
.form-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form {
  .cat-lv1-section,
  .cat-lv2-section {
    // padding: 10px;
    min-width: 200px;
    border-radius: 5px;
    border: solid 2px $color-primary-1;
    .cat-lv1 {
      cursor: pointer;
      padding: 5px 10px;
      &:hover {
        background-color: #f7d4d4;
      }
      &.active {
        color: white;
        background-color: $color-primary-1;
      }
    }
    .cat-lv2 {
      display: none;
      padding: 5px 10px;
      &:hover {
        background-color: #f7d4d4;
      }
      &.active {
        color: white;
        background-color: $color-primary-1;
      }
      &.show {
        display: list-item;
        cursor: pointer;
      }
    }
    .category-title {
      display: block;
      padding: 5px 10px;
      font-weight: bold;
      border-bottom: 2px solid $color-primary-1;
    }
  }

  &.add-product-form {
    .upload-img-container {
      display: flex;
      flex-wrap: wrap;
      .img-wrapper {
        width: 30%;
        position: relative;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        &.active {
          .image-wrapper {
            opacity: 0.6;
            position: relative;
            z-index: 20;
            &::after {
              position: absolute;
              z-index: 30;
              content: 'Chọn ảnh chính';
              top: 37.5%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $color-primary-1;
              font-size: 16px;
              font-weight: bold;
              background-color: aliceblue;
              padding: 4px;
              border-radius: 5px;
            }
          }
        }
        img {
          &:hover {
            opacity: 0.8;
          }
        }
        .product-img {
          width: 100%;
        }
        .remove-image {
          position: absolute;
          top: 15px;
          z-index: 100;
          right: 20px;
          font-size: 30px;
          color: $color-primary-1;
          cursor: pointer;
        }
      }
    }
  }
}

.input-file {
  display: flex;
  border: 1px solid $color-primary-1;
  .image-name {
    padding: 10px 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.upload-image-wrapper {
  width: 100%;
  overflow: auto;
  border: 3px dashed $color-primary-1;
  position: relative;
  &::before {
    margin-top: 25%;
    content: '';
    display: block;
  }
  &::after {
    content: "Hãy chọn ảnh có chiều rộng lớn hơn nhiều chiều dài để phù hợp với banner, ảnh sẽ tự chỉnh vào giữa!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    z-index: 10;
  }
  .upload-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .shop-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 100%;
  }
}

//dropdown
.dropdown {
  border: 1px solid $color-gray;
  height: 34px;
}

//search
.search {
  min-width: 400px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $color-gray;
  &::placeholder {
    color: $color-gray-3;
  }
}

.add-coupon-form {
  label {
    min-width: 250px;
  }
  input {
    min-width: 300px;
  }
}

